@{
    ViewData["Title"] = "Index";
}

<h1>Users Index</h1>

<!-- Botón para crear un nuevo usuario -->
<div class="mb-3">
    <a href="@Url.Action("Create", "Users")" class="btn btn-success">Create New User</a>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover table-responsive-md">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>@user.UserType.Description</td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@user.Id">Editar</a>
                            <button onclick="confirmDelete('@user.Id')" class="btn btn-danger btn-sm">Delete</button>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
        function confirmDelete(userId) {
            Swal.fire({
                title: '¿Está seguro de eliminar el usuario?',
                text: "Esto no se puede revertir",
                icon: 'warning',
                showCancelButton: true,
            }).then((result) => {
                if (result.isConfirmed) {
                  
                    var form = document.createElement('form');
                    form.method = 'POST';
                    form.action = '/Users/Delete'; 
                    var idInput = document.createElement('input');
                    idInput.type = 'hidden';
                    idInput.name = 'id';
                    idInput.value = userId;
                    form.appendChild(idInput);
                    document.body.appendChild(form);
                    form.submit();
                }
            });
        }
    </script>
}

